html
  head
    title Kubercade Home
    style
      include style.css
  body
    div.topnav
      div.navtab
        a(href='#') Nav Link 1
      div.navtab
        a(href='#') Nav Link 2
    h1 Welcome to Kubercade!
    p You are playing #{game}!
