html
  head
    title Kubercade Home
    style
      include style.css
  body
    #nav_bar
      .navtab
        a(href='#') Nav Link 1
      .navtab
        a(href='#') Nav Link 2
    #page_content
      #content_window
        iframe#kubercade_iframe(
          src='https://pacman-ci5ev6bu6a-uc.a.run.app/'
        )
      #chat_window
        p Chat about #{game} here!
