html
  head
    title Kubercade Home
    style
      include style.css
  body
    #nav_bar
      .navtab
        a(href='javascript:void(0);') Nav Link 1
      .navtab
        a(href='javascript:void(0);') Nav Link 2
    #page_content
      #content_window
        iframe#kubercade_iframe(
          src='/games/pacman'
        )
      #chat_window
        p Chat about #{game} here!
