html
  head
    title Kubercade Home
    style
      include style.css
    link(href="https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P&display=swap" rel="stylesheet")
    script
      include js/navigation.js
  body
    #wrapper_grid
      #nav_bar
        a.logo(onClick='changeActivePage("/nexus")')
          img(src='images/kubercade logo.png' alt='Kubercade logo')
        a.navtab(onClick='changeActivePage("/nexus")')
          div Nexus
        .navtab.dropdown
          div Games
          .dropdown-content
            a.navtab(onClick='changeActivePage("/games/pacman")') Pac-Man
        .navtab.dropdown
          div High Scores
          .dropdown-content
            a.navtab(onClick='changeActivePage("/scores/pacman")') Pac-Man
      #content_window
        iframe#kubercade_iframe(
          src='/nexus'
        )
      #chat_window
        #chat_top_bar
          a.dropdown Chat - #{game} &#x25BE
        #chat_messages
          each _ in Array(30)
            .individual_chat_message
              p.author Bill Gates
              p.text This is what a chat message will look like.
        #chat_form
          a.refresh_button &#x1F504
          input(type="text" placeholder="Name (optional)").name_input
          a.submit_button Send
          input(type="text" placeholder="Say something...").message_input
          p#chat_char_counter 0/200
