html
  head
    title Kubercade Home
    style
      include style.css
    script
      include js/navigation.js
  body
    #nav_bar
      a.navtab(onClick='changeActivePage("/nexus")') Nexus
      .navtab.dropdown Games
        .dropdown-content
          a.navtab(onClick='changeActivePage("/games/pacman")') Pac-Man
      .navtab.dropdown High Scores
        .dropdown-content
          a.navtab(onClick='changeActivePage("/scores/pacman")') Pac-Man
    #page_content
      #content_window
        iframe#kubercade_iframe(
          src='https://pacman-ci5ev6bu6a-uc.a.run.app/'
        )
      #chat_window
        p Chat about #{game} here!
