html
  head
    title Kubercade Home
    style
      include style.css
    link(href="https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P&display=swap" rel="stylesheet")
    script
      include js/navigation.js
    script
      include js/chatControl.js
      include js/submitScore.js
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #wrapper_grid
      #nav_bar
        a.logo(onClick='changeActivePage("/nexus")')
          img(src='images/kubercade logo.png' alt='Kubercade logo')
        a.navtab(onClick='changeActivePage("/nexus")')
          div Nexus
        .navtab.dropdown
          div Games
          .dropdown-content
            a.navtab(onClick='changeActivePage("/games/pacman")') Pac-Man
        .navtab.dropdown
          div High Scores
          .dropdown-content
            a.navtab(onClick='changeActivePage("/scores/pacman")') Pac-Man
        // TODO: remove button when popup is triggered directly on game end
        a.navtab(onClick='scorePopUp()') Submit Score
      #content_window
        iframe#kubercade_iframe(
          src='/nexus'
        )
      #chat_window
        #chat_top_bar
          .dropdown.clickable.button
            p Chat - General &#x25BE
              .dropdown-content
                a(onClick="#").clickable General
                a(onClick="#").clickable Pac-Man
        #chat_messages
        #chat_form
          .input_row
            a(onClick="refreshChat()").refresh_button.clickable &#x1F504
            input(type="text" placeholder="Name (optional)" maxlength="80").text_input#name_input
            a(onClick="#").submit_button.clickable Send
          .input_row
            textarea(placeholder="Say something..." maxlength="400").text_input#message_input
            p#chat_char_counter 0/400
