html
  head
    title Kubercade Home
    style
      include style.css
    link(href="https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P&display=swap" rel="stylesheet")
    script
      include js/navigation.js
  body
    #wrapper_grid
      #nav_bar
        a.logo(onClick='changeActivePage("/nexus")')
          img(src='images/kubercade logo.png' alt='Kubercade logo')
        a.navtab(onClick='changeActivePage("/nexus")')
          div Nexus
        .navtab.dropdown
          div Games
          .dropdown-content
            a.navtab(onClick='changeActivePage("/games/pacman")') Pac-Man
        .navtab.dropdown
          div High Scores
          .dropdown-content
            a.navtab(onClick='changeActivePage("/scores/pacman")') Pac-Man
      #content_window
        iframe#kubercade_iframe(
          src='/nexus'
        )
      #chat_window
        p Chat about #{game} here!
