html
  head
    title Kubercade Home
    style
      include style.css
    script
      include js/navigation.js
    script
      include js/submitScore.js
  body
    #nav_bar
      a.navtab(onClick='changeActivePage("/nexus")') Nexus
      .navtab.dropdown Games
        .dropdown-content
          a.navtab(onClick='changeActivePage("/games/pacman")') Pac-Man
      .navtab.dropdown High Scores
        .dropdown-content
          a.navtab(onClick='changeActivePage("/scores/pacman")') Pac-Man
      // TODO: remove button when popup is triggered directly on game end
      a.navtab(onClick='scorePopUp()') Submit Score
    #page_content
      #content_window
        iframe#kubercade_iframe(
          src='/nexus'
        )
      #chat_window
        p Chat about #{game} here!
