html
  head
    title Kubercade Nexus
    style
      include style.css
  body
    h1 Kubercade Nexus
    div
      h4 Browse Games
      each gameInfo in gamesList
        div
          a(href='/games/' + gameInfo.game)= gameInfo.name

