html
  head
    title Kubercade Nexus
    style
      include style.css
    link(href="https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P&display=swap" rel="stylesheet")
  body
    #kubercade_nexus
      h1 Kubercade
      h4 Nexus - Browse Games
      #gameGrid
        each gameInfo in gamesList
          a.gameTile(href='/games/' + gameInfo.game)
            img(src='/images/pacman_thumbnail.png')
            .gameInfo
              .gameName Pac-Man
              .description Play the classic arcade game here!
        .gameTile
          img(src='/images/kubercade logo.png')
          .gameInfo
            .description More games to be added!

          
