html
  head
    title High Scores - #{prettyGameName}
    style
      include style.css
    link(href="https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P&display=swap" rel="stylesheet")
  body
    h1 High Scores - #{prettyGameName}
    div
      each score in scores
        div= score.score + ' - ' + score.name + ' at ' + score.datetime